<html>
<head>
  <title>OpenInstrument Datastore Status</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <script>
    function Duration(ms) {
      var date = new Date(ms);
      return date.getUTCHours() + ":" + date.getUTCMinutes() + ":" + date.getUTCSeconds() + "." + date.getUTCMilliseconds();
    }
  </script>
  <h1>{{ .Title }}</h1>

  <h2>Datastore Blocks</h2>
  <table cellspacing='0'>
    <thead>
      <tr valign='top'>
        <th colspan='2'></th>
        <th colspan='3' style='text-align: center; border-left: 1px solid darkgray;'>Streams</th>
        <th colspan='3' style='text-align: center; border-left: 1px solid darkgray;'>Values</th>
      </tr>
      <tr valign='top'>
        <th>End Key</th>
        <th>Id</th>
        <th style='border-left: 1px solid darkgray;'>Indexed</th>
        <th>Log</th>
        <th>New</th>
        <th style='border-left: 1px solid darkgray;'>Indexed</th>
        <th>Log</th>
        <th>New</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Blocks }}
      <tr valign='top'>
        <td style='font-family: monospace;'>{{ .EndKey }}</td>
        <td style='font-family: monospace;'>{{ .Id }}</td>
        <td style='text-align: right; border-left: 1px solid darkgray;'>{{ .IndexedStreams }}</td>
        <td style='text-align: right;'>{{ .LoggedStreams }}</td>
        <td style='text-align: right;'>{{ .UnloggedStreams }}</td>
        <td style='text-align: right; border-left: 1px solid darkgray;'>{{ .IndexedValues }}</td>
        <td style='text-align: right;'>{{ .LoggedValues }}</td>
        <td style='text-align: right;'>{{ .UnloggedValues }}</td>
				{{ if .IsCompacting }}<td>Compacting: {{ .CompactDuration }}</td>{{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</body>
</html>
